.login-form{
    margin-top: 12%;
    width: 80%;
}

.principal{
    background-color: white;
    padding-top: 3%;
}

.left-side{
    background-color: #83C0EB;
    height: 100%;
    width: 50%;
}

.right-side{
    width: 50%;
}

.text-red{
    color: rgb(247, 131, 115);
  }
.row{
    margin-right: -0px;
}

.img-fluid{
    max-width: 90%;
}


.title{
    color: #70a3cd;
    margin-top: 12%;
    margin-right: 20%;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-size: 40px;
}